html {
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main CSS */

body {
    background-color: #354259;
}

header {
    background-color: #81a0d195;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 50px;
    padding: 20px 60px;
    font-family: 'Bebas Neue', cursive;
}

.library-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 20px;
    margin-inline: auto;
    width: min(90%, 60rem);
    margin-top: 50px;
}

.button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 60px;
}

#add {
    border-radius: 50px;
    border: none;
    font-size: 30px;
    background-color: #81a0d195;
    color: white;
    height: 70px;
    width: 70px;
    position: fixed;
    bottom: 5%;
    cursor: pointer;
}

.books  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
    overflow-wrap: break-word;
    text-align: center;
    
}

#status {
    background-color: rgba(150, 219, 150, 0.784);
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    height: 40px;
    width: 200px;
    margin-top: 50px;
    cursor: pointer;
}

#remove {
    background-color: rgba(235, 150, 145, 0.784);
    color: black;
    border: none;
    font-size: 25px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.books button {
    margin: 8px 0;
}

.books p {
    border-bottom: 1px solid rgba(0, 0, 0, 0.291);
    padding: 5px 0;
}

/* Add book form */


.pop-up {
    position: relative;
    text-align: center;
    width: 100%;
}

.form-popup {
    display: block;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 5%);
    z-index: 9;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding: 30px 10px;
    background-color: white;
    border-radius: 20px;
}

.read {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.read p {
    margin-right: 20px;
}

#submit {
    background-color: rgba(150, 219, 150, 0.784);
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    height: 40px;
    width: 200px;
    margin-top: 40px;
    cursor: pointer;
}

#close {
    position: absolute;
    top: 5px;
    right: 15px;
    border-radius: 15px;
    border: none;
    background-color: white;
    height: 20px;
    width: 20px;
    cursor: pointer; 
}

input {
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.267);
}





